/* custom bootstrap css */

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: auto;
  background-color: #f5f5f5;
}

body > .container {
  padding: 60px 15px 0;
}

.container {
  padding-top: 60px;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.toasts {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 99999;
}
