.drive-index-footer-desktop {
    background-color: transparent;
    border-top: 1px solid lightgray;
    padding-top: 5px;
}

.drive-index-footer-close {
    float: right;
    padding-right: 5px;
}

.drive-index-footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 80px;
    width: 100%;
    background: white;
    z-index: 100000;
}

#search {
  background-image: url('https://cdn.jsdelivr.net/gh/ParveenBhadooOfficial/BhadooDriveIndex/web/src/assets/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}
